<div class="row">
  <% @articles.each do |article| %>
    <div class="col-md-6">
      <div class="row no-gutters border overflow-hidden flex-md-row h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block text-success"><%= article.category.category %></strong>
          <h3 class="mb-0"><%= article.title %></h3>
          <div class="mb-1 text-muted"><%= article.created_at.strftime("%Y/%m/%d") %> by <%= article.user.name %></div>
          <p class="card-text"><%= truncate(article.content, length: 150) %></p>
          <div class="btn-group">
            <%= link_to "Continue reading", article_path(article.id), class: 'stretched-link' %>
          </div>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="btn btn-outline-success">
              <%= like_or_dislike_btn(article) %>
            </div>
            <span class="badge badge-primary badge-pill">
              <%= article.likes.count %> likes!
            </span>
          </li>
        </div>
        <div class="col-auto d-none d-lg-block">
          <%= image_tag article.image, :size => "500x350" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="digg_pagination text-center">
  <%= will_paginate @articles, :container => false %>
</div>
