<h1>Category: <%= @article.category.category %></h1>
<h3><%= @article.title %></h3>

<p><%= @article.content %></p>

<%= link_to "Edit", edit_article_path(@article.id) %>
<%= link_to "Delete", article_path(@article.id), method: :delete %>
<%= link_to "Back", articles_path %>