<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "CatsBlog", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% Category.all.each do |category|%>
        <li class="nav-item">
          <%= link_to category.category, articles_path(:cate => category.id), class: 'nav-link' %>
        </li>
        <li class="nav-item mt-2">
          <%= category.articles.count %>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav mr-2">
      <li class="nav-item">
        <%= link_to "All Categories", categories_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Write article", new_article_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Create Category", new_category_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
