<div class="card">
  <% popular = Like.popular %>
  <% popular.each do |vote| %>
    <%= image_tag vote.article.image, class: "card-img-top card-img" %>
    <div class="card-img-overlay font-weight-bold">
      <h5 class="card-title font-weight-bold bg-info text-white d-table"><%= vote.article.title %></h5>
      <p class="card-text text-light bg-dark"><%= truncate(vote.article.content, length: 250) %></p>
      <p class="lead mb-0">
        <%= link_to 'Read more', article_path(vote.article), class: 'btn btn-success' %>
      </p>
    </div>
  <% end %>
</div>
<div class="card-group">
  <% Category.all.each do |category|%>
    <div class="card">
      <%= image_tag category.articles.last.image, class: "card-img-top card-img" unless category.articles.last.nil? %>
      <div class="card-img-overlay font-weight-bold">
        <p> <strong class="d-inline-block mb-2 bg-warning text-dark"><%= link_to category.category, articles_path(:cate => category.id) %></strong></p>
        <h5 class="card-title bg-info text-light d-table"><%= category.articles.last.title unless category.articles.last.nil? %></h5>
        <p class="card-text bg-dark text-light"><%= truncate(category.articles.last.content, length: 100) unless category.articles.last.nil? %></p>
        <p class="card-text"><small class="bg-secondary text-white"><%= category.articles.last.created_at.strftime("%Y/%m/%d") unless category.articles.last.nil?%></small></p>
        <p><small class="text-muted bg-white">by <%= category.articles.last.user.name unless category.articles.last.nil? %></small></p>
        <%= link_to 'Read more', article_path(category.articles.last), class: 'btn btn-primary' unless category.articles.last.nil? %>
      </div>
    </div>
  <% end %>
</div>
