<div class="flex-row d-flex justify-content-center">
  <div class="card mt-5">
    <div class="card-body">
      <%= form_with(model: category, local: true) do |form| %>
        <% if category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
            <ul>
              <% category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.label :category %>
          <%= form.text_field :category, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.submit %>
          <%= link_to "Back", categories_path, class: 'btn btn-outline-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
