<div class="flex-row d-flex justify-content-center">
  <div class="card mt-5">
    <div class="card-body">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Category:</strong>
        <%= @category.category %>
      </p>
      <td><%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-outline-secondary' %></td>
      <td><%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
      <%= link_to 'Back', categories_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
